data
experiments/depth_pretrain.pth
experiments/rgb_pretrain.pth
lib/depth_pretrain.pth
lib/rgb_pretrain.pth
experiments/example/depth_pretrain.pth
experiments/example/rgb_pretrain.pth
rgb_pretrain.pth
depth_pretrain.pth
experiments/example/logs
lib/datasets/kitti/__pycache__
lib/models/__pycache__
lib/datasets/kitti/__pycache__/kitti_dataset.cpython-311.pyc
lib/models/__pycache__/centernet3d.cpython-311.pyc
experiments/example/monodistill/checkpoint_epoch_10.pth
experiments/example/rgb_baseline/checkpoint_epoch_10.pth
*.pth
lib/datasets/kitti/__pycache__/kitti_dataset.cpython-311.pyc
*.pyc
experiments/example/logs/
experiments/example/logs/train.log.20231108_122146
experiments/example/logs/train.log.20231108_123141
experiments/example/logs/train.log.20231108_124204
experiments/example/logs/train.log.20231108_124408
experiments/example/logs/train.log.20231108_124705
experiments/example/logs/train.log.20231108_124949
experiments/example/logs/train.log.20231108_125127
experiments/example/logs/train.log.20231108_125209
experiments/example/logs/train.log.20231108_125416
experiments/example/logs/train.log.20231108_125458
experiments/example/logs/train.log.20231108_125625
*.out
*.err