data
experiments/example/logs
lib/datasets/kitti/__pycache__
lib/models/__pycache__
*.pth
*.pyc
experiments/example/logs/*
*.out
*.err
*.json
*.wandb
*.log
*.cpython-311.pyc
__pycache__
experiments/example/wandb/latest-run
experiments/example/wandb/run-20231129_102619-qwfoppty/files/config.yaml
experiments/example/wandb/
experiments/example/unc_no_var.pkl
*.pkl
*.pyc
experiments/example/models
*.symlink
experiments/example/models
experiments/example/kitti_example_centernet.yaml
experiments/example/train_d.sh
