data
experiments/depth_pretrain.pth
experiments/rgb_pretrain.pth
lib/depth_pretrain.pth
lib/rgb_pretrain.pth
experiments/example/depth_pretrain.pth
experiments/example/rgb_pretrain.pth
rgb_pretrain.pth
depth_pretrain.pth
experiments/example/logs
lib/datasets/kitti/__pycache__
lib/models/__pycache__
lib/datasets/kitti/__pycache__/kitti_dataset.cpython-311.pyc
lib/models/__pycache__/centernet3d.cpython-311.pyc
experiments/example/monodistill/checkpoint_epoch_10.pth
experiments/example/rgb_baseline/checkpoint_epoch_10.pth
*.pth
lib/datasets/kitti/__pycache__/kitti_dataset.cpython-311.pyc
*.pyc
experiments/example/logs/*
experiments/example/logs/train.log.20231108_122146
experiments/example/logs/train.log.20231108_123141
experiments/example/logs/train.log.20231108_124204
experiments/example/logs/train.log.20231108_124408
experiments/example/logs/train.log.20231108_124705
experiments/example/logs/train.log.20231108_124949
experiments/example/logs/train.log.20231108_125127
experiments/example/logs/train.log.20231108_125209
experiments/example/logs/train.log.20231108_125416
experiments/example/logs/train.log.20231108_125458
experiments/example/logs/train.log.20231108_125625
*.out
*.err
lib/helpers/trainer_helper.py
*.json
*.wandb
*.log
*.cpython-311.pyc
__pycache__
lib/models/__pycache__/centernet3d_distill.cpython-311.pyc
lib/models/__pycache__/centernet3d.cpython-311.pyc
lib/models/__pycache__/fusion.cpython-311.pyc
lib/losses/__pycache__/centernet_loss.cpython-311.pyc
lib/losses/__pycache__/dim_aware_loss.cpython-311.pyc
lib/losses/__pycache__/feature_distill_loss.cpython-311.pyc
lib/losses/__pycache__/focal_loss.cpython-311.pyc
lib/losses/__pycache__/head_distill_loss.cpython-311.pyc
lib/losses/__pycache__/uncertainty_loss.cpython-311.pyc
experiments/example/wandb/latest-run
experiments/example/wandb/run-20231129_102619-qwfoppty/files/config.yaml
experiments/example/wandb/
experiments/example/unc_no_var.pkl
*.pkl
*.pyc
experiments/example/models
*.symlink
experiments/example/models
experiments/example/kitti_example_centernet.yaml
experiments/example/train_d.sh
